.head{
    color:white;
    background-color: black;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 20px;
}
.head img{
    border-radius: 20px;
    height: 100px;
}
.head h3{
    display: inline;
    position: absolute;
    left: 50%;
    top: 2.6rem;
    margin: 0;
    font-size: 1.5rem;
    transform: translateX(-50%);
}
